<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Multiplayer</title>

  <!-- ✅ Load official Tailwind CDN FIRST -->
  <script src="https://cdn.tailwindcss.com"></script>
     <style>
        .chessboard{
            display: grid;
            grid-template-columns: repeat(8,minmax(0,1fr));
            grid-template-rows: repeat(8,minmax(0,1fr));
            width: 400px;
            height: 400px;
            transform: rotate(0deg);
        }
        .piece.white{
            color:white;
            filter:drop-shadow(0 0 2px rgba(0,0,0,1));
        }
        .piece.black{
            color:black;
        }
        .flipped{
            transform: rotate(180deg);
        }
        .square{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .square.light{
            background-color: #f0d9b5;
        }
        .square.dark{
            background-color: #b58863;
        }
        .piece{
            font-size: 36px;
            cursor: pointer;
        }
        .piece.draggable{
            cursor:grab;
        }
        .dragging{
            opacity:0.5;
        }
        .chessboard.flipped .piece {
             transform: rotate(180deg);
        }

     </style>
</head>
<body>
    <div class="w-full h-screen flex items-center justify-center bg-zinc-900">
        <div class="chessboard w-120 h-120 bg-red-800"></div>
        <button id="restartBtn" class="absolute top-4 right-4 bg-red-600 text-white px-4 py-2 rounded">Restart Game</button>


    </div>
    <script src="/socket.io/socket.io.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>